* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


body {
  font-family: sans-serif;
  height: 80vh;

}




/*------The backgrounds images is set with cover so its adjusts to the pages.----*/


#indexpage {
    background-image: url("https://raw.githubusercontent.com/mysan91/Milestoneproject2/master/images/index/index.jpg");
    background-size: cover; 
   
}

#level1 {
 background-image: url("https://raw.githubusercontent.com/mysan91/Milestoneproject2/master/images/level1/background.jpg");
 background-size: cover;

 display: flex;
  }
    

  #level2 {
 background-image: url("https://raw.githubusercontent.com/mysan91/Milestoneproject2/master/images/level2/starwars.jpg");
 background-size: cover;
 
 display: flex;
  }

  #level3 {
    background-image: url("https://raw.githubusercontent.com/mysan91/milestoneprojecttwo/master/images/supermario/wallpaper.png");
    background-repeat: no-repeat;
    display: flex; 
  }


  /*----------------------------Generall for alla pages-----------------------*/ 

 

  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: rgba(37, 127, 211, 0.623);
    backface-visibility: hidden;
  
  }
  
  .front-face {
    transform: rotateY(180deg);
  }

  /*--------Scoreboard-----*/

.score-panel {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 5px auto 5px auto;
  perspective: 1000px;
}
 
  



  /*----------------------Index page----------------*/

ul {
    text-align: center;
}


h1 {
    font-size: 80px;
     color: yellow;
     padding: 0;
     text-align: center;
     text-shadow: 1px 1px 2px ;
     font-family: sans-serif;
     padding: 10px;
     text-shadow: 5px 5px 5px rgb(216, 133, 9);
     padding: 80px;
     margin-top: 100px;
     width: 100%;
  
}

    

h2 {
  font-size: 25px;
  color: yellow;
  font-family: sans-serif;
  padding: 0;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  text-shadow: 5px 5px 5px rgb(216, 133, 9);
  width: 100%;
}

h3 {

    font-size: 30px;
    color: yellow;
    font-family: sans-serif;
    padding: 0;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    text-shadow: 5px 5px 5px rgb(216, 133, 9);
}

h4 {
  font-size: 15px;
  color: white;

}

/*-----------------The index page button---------------*/

.button {
  margin: auto;
  cursor: pointer;
  position: relative;
  appearance: none;
  overflow: hidden;
  border: 10px;
  padding: 5px;
  background-color: transparent;
  font-size: 16px;
  color: white;
  transition: 0,5s; 
  text-align: center;
  border: 2px solid transparent;
  -webkit-box-shadow: 2px 2px 2px 0px yellow, inset 2px 2px 10px 0px #000000, 5px 5px 15px 5px rgba(255,139,253,0); 
  width: 50%;

}

.button:after {
  background: green;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 0.5s;
}

.button:hover {
  transform: scale(1.6, 1.6);
  color: black;
}

.button:hover:after {
  transform: translateY(0);
}



/*----------The get back button and restart button on the levels-----------*/

.buttonback {
  color: yellow;
  width: 50%;
  height: 50%;
}


/*--------------The memory game cards-----------*/

.memory-game {
  position: relative;
  height: 89vh;
  width: 100%;
  margin: 5px auto 5px auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
 
}

.memory-card {
  display: flex;
  margin: 5px;
  height: calc(20% - 10px);
  width: calc(16.66% - 10px);
  border-radius: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transform: scale(1);
  transition: transform .5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

/*-------Making the card turn 180 degrees when you push on in-----*/ 

.memory-card.flip {
  transform: rotateY(180deg);
}











